* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* utility */
.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* header + footer */
header {
    background-color: #ff6800;
    color: white;
}

.nav-menu,
.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-menu__item > a {
    display: block;
    padding-right: 10px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
}

.logo {
    max-width: 110px;
    padding: 12px 0;
}

footer {
    background-color: #1a1a1a;
    padding: 20px 0;
    color: white;
}

.footer-title {
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

.footer-menu__item {
    display: block;
    padding-right: 10px;
    line-height: 25px;
    font-size: 10px;
}


