* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}